{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["./tsconfig.json"]
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "no-console": "warn",
    "camelcase": "error",
    "no-const-assign": "error",
    "no-dupe-keys": "warn",
    "no-duplicate-imports": "warn",
    "indent": [2, 2, {"SwitchCase":  1}],
    "eol-last": "error",
    "semi": "error"
  }
}